* {
    font-size: 10px;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;

    
    height: 100vh;
}
.left-panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    user-select: none;
}
.button-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #242424;
    align-content: center;
    justify-content: center;

    margin: 3rem 1rem 12rem 3rem;
    width: 80%;
    height: 20%;
    border-radius: 0.8rem;

}
.element-container {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    align-items: center;

    margin: 0 3rem;
    width: 80%;
    min-height: 15rem;
    max-height: 60rem;
    height:max-content;
    border-radius: 0.8rem;
    border: 1px solid #AAA;
    overflow-y: scroll;
}
h2 {
    color: #FFF;
    font-size: 2.2rem;
    margin: 0 0 0.8rem 5rem;
}
canvas {
    border: 1px solid #FFF;
    border-radius: 2rem;
}
#export-btn {
    position: absolute;
    bottom: 5rem;
    right: 3rem;
    font-size: 2rem;
    color: #FFF;
    width: 21rem;
    height: 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    border: None;
    background-color: rgb(131, 177, 73);
}
#export-btn:hover {
    background-color: rgb(161, 197, 75);
    border: 2px solid rgb(131, 177, 73);
    transform: translateY(-0.2rem);
    box-shadow: #11220e 0.2rem 0.4rem 0.2rem;
}
.credit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #cfcfcf;
    font-size: 1.3rem;
    user-select: none;
}
.button {
    font-size: 2rem;
    color: #FFF;
    width: 11rem;
    height: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    border: None;
}
.button:hover {
    background-color: #3a3a3a;
    color: #FFF;
    border: 1px solid #AAA;
    transform: translateY(-0.2rem);
}
.element {
    display: flex;
    flex-direction: row;

    width: 90%;
    padding: 0.5rem;
    border-bottom: 1px solid #AAA;
    margin: 0.5rem;
    
    overflow-x:hidden;
    border-radius: 0.8rem;
    min-height: 2.2rem;
    max-height: fit-content;
    
    
}
.element label {
    color: #FFF;
    font-size: 1.5rem;
    margin: 0 1rem;
    width: 7rem;
}
.element div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8rem;
    margin-left: 1rem;

}
.element input {
    color: #FFF;
    font-size: 1.5rem;
    width: 4rem;
    background-color: #3a3a3a;
    border: 1px solid #AAA;
    border-radius: 0.5rem;
    padding: 0.1rem;
    text-align: center;
}
.element-container button {
    
    color: #FFF;
    font-size: 1.5rem;
    width: 4rem;
    background-color: rgb(75, 75, 75);
    border: None;

}
.element-container button:hover {
    background-color: rgb(190, 10, 10);
    transform: scale(1.1);
}

